@model Examensarbete.ViewModels.CourseViewModels.CourseViewModel
@{
    ViewData["Title"] = "Home Page";
}

<h1>@Model.Name</h1>

<div id="wrapper" style="overflow: hidden">
    <div id="firstDiv" style="float: left; margin: 20px; width: 200px">
        <div class="panel-group" id="accordion">
            @foreach (var topic in Model.Content)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <a href="#@topic.Id" data-toggle="collapse" data-parent="#accordion" style="font-weight: bold">@topic.Id. @topic.Name</a>
                        </h3>
                    </div>
                    <div id="@topic.Id" class="panel-collapse collapse">
                        <div class="panel-body">
                            <h5>
                                <a onclick="viewData(@topic.Id)">Fact</a>
                            </h5>
                            <h5>
                                <a>Exercises</a>
                            </h5>
                            <h5>
                                <a>Exams</a>
                            </h5>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div id="currentData" style="float: left; background-color: indianred">
        
    </div>
</div>

<script>
    function viewData(id) {
        var element = document.getElementById("currentData");
        element.innerHTML = "hejhej";

        @*var id = id;
        var sendData = { id: id }

        $.ajax({
            type: "POST",
            url: "@Url.Action("SetDataWindow", "Home")",
            data: sendData,
            success: function (data) {
                location.reload();
            },
            traditional: true
        });*@
    }
</script>